*:not(h1,p) {
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
}
body{
    top: 50%;
  transform: translateY(16%);
  background-color: hsl(47, 88%, 63%);
}
.container{
    margin: auto;
    border: 1px;
    max-width: 35%;
    background-color: rgb(248, 248, 248);
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}
.top svg{
width: 91%;
height: 91%;
padding: 4.5%;
border-radius: 35px;
}
.content{
    padding-left: 4%;
}
.tag{
    font-weight: 800;
    border-radius: 4px;
    width: fit-content;
    background-color: hsl(47, 88%, 63%);
    box-sizing: border-box;
    padding: 1%;
    padding-inline: 3.5%;
    padding-block: 1.3%;
}
.date{
    margin-block: 4%;
    font-weight: 500;
}
h1{
    width: max-content;
    font-size: .73cm;
}
p{
    color: hsl(0, 0%, 50%);
    width: fit-content;
    font-size: .499cm;
    font-weight: 500;
}
.footer img{
    width: 9%;
}
.footer{
    display: flex;
    align-items: center;
    padding-block: 2%;
    padding-bottom: 6%;
}
.name{
    font-weight: 800;
    margin-left: 2.5%;
}
